html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  padding: 0;
  margin: 0; }

body {
  background-color: #f9f9fb;
  direction: rtl;
  font-family: 'Droid Arabic Naskh',serif; }

.wrap {
  width: 1440px;
  max-width: 80%;
  margin: 0 auto; }

.btn {
  box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.27);
  padding: 12px;
  color: #ffffff; }

.btn-default {
  background-color: #2893ee;
  transition: all 0.2s linear; }
  .btn-default:hover {
    background-color: #258de5; }

button {
  border: none;
  outline: none; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #ffffff; }

#cover {
  background-color: #258de5;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.58);
  margin-bottom: 3rem; }
  #cover header {
    padding: 2rem; }
  #cover #get_on_top {
    color: #ffffff;
    font-size: 1.58rem;
    margin: 0;
    padding-bottom: 2rem; }
    #cover #get_on_top span {
      font-weight: normal;
      font-size: 29px;
      margin-right: 0.4rem; }
    #cover #get_on_top .icon-kleeja-menu {
      background-image: url("../images/icon-menu.svg");
      display: inline-block;
      opacity: .5;
      width: 22px;
      height: 19px;
      transition: all 0.2s linear; }
      #cover #get_on_top .icon-kleeja-menu:hover {
        opacity: 1;
        cursor: pointer; }
  #cover nav {
    margin-bottom: -1.41rem; }
    #cover nav a {
      text-decoration: none;
      color: #ffffff;
      opacity: 0.5;
      margin-left: 1.3rem;
      transition: all 0.2s linear;
      position: relative;
      padding: 9px 7px; }
      #cover nav a:hover {
        color: #ffffff;
        opacity: 1; }
        #cover nav a:hover::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-bottom: 2px solid #ffffff; }
    #cover nav .active {
      opacity: 1; }
      #cover nav .active::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid #ffffff; }

.drop-menu {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.27);
  padding: 34px;
  margin-top: -3px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
  z-index: 1; }
  .drop-menu li a {
    color: #3B3B3B;
    font-size: 1.1rem;
    display: block;
    padding: 13px; }
  .drop-menu li:hover {
    background-color: #F1F1F1; }
  .drop-menu.open {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }

#upload {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.27);
  max-width: 58rem;
  margin: 2rem auto; }
  #upload .content {
    padding: 2rem 9rem;
    position: relative; }
  #upload h2 {
    color: #777777; }
  #upload p {
    color: #9E9D9D; }
  #upload .icon-kleeja-upload {
    background-image: url("../images/icon-upload.png");
    width: 88px;
    height: 79px;
    position: absolute;
    right: 25px;
    left: 0;
    top: 24px;
    opacity: 0.5; }

.next {
  float: left;
  margin-top: 1rem; }

/*# sourceMappingURL=main.css.map */
